# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# JWT
JWT_SECRET=secret

# Application
PORT=3000
HOST=http://localhost # DO NOT include the port here, it will be added in the code
UPLOAD_DIR=uploads